# Exploratory Data Analysis 3 (EDA03) 
Analysing Police's Data with Python Programming

---
Student: DC427182

In [1]:
# importing needed library
import pandas as pd

In [2]:
# loading the dataset
dataset = pd.read_csv('C:/Users/User/Documents/GitHub/gradest-1/DATAVIS/tutorials/Tutorial04/Datasets/police.csv')

In [3]:
# checking dataset's information
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65535 non-null  object
 1   stop_time           65535 non-null  object
 2   country_name        0 non-null      float64
 3   driver_gender       61474 non-null  object
 4   driver_age_raw      61481 non-null  float64
 5   driver_age          61228 non-null  float64
 6   driver_race         61475 non-null  object
 7   violation_raw       61475 non-null  object
 8   violation           61475 non-null  object
 9   search_conducted    65535 non-null  bool
 10  search_type         2479 non-null   object
 11  stop_outcome        61475 non-null  object
 12  is_arrested         61475 non-null  object
 13  stop_duration       61475 non-null  object
 14  drugs_related_stop  65535 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 6.6+ MB

In [5]:
# Q.3-1) data cleaning: confirming the null column
dataset.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [9]:
# Q.3-1) data cleaning: removing null column
dataset = dataset.drop(columns=['country_name'])
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65535 non-null  object
 1   stop_time           65535 non-null  object
 2   driver_gender       61474 non-null  object
 3   driver_age_raw      61481 non-null  float64
 4   driver_age          61228 non-null  float64
 5   driver_race         61475 non-null  object
 6   violation_raw       61475 non-null  object
 7   violation           61475 non-null  object
 8   search_conducted    65535 non-null  bool
 9   search_type         2479 non-null   object
 10  stop_outcome        61475 non-null  object
 11  is_arrested         61475 non-null  object
 12  stop_duration       61475 non-null  object
 13  drugs_related_stop  65535 non-null  bool
dtypes: bool(2), float64(2), object(10)
memory usage: 6.1+ MB

In [11]:
# Q.3.2) checking speeding stops by driver's gender

# filtering the dataset
speeding_stops = dataset[dataset['violation'] == 'Speeding']

# checking the speeding stops by driver
speeding_stops['driver_gender'].value_counts()

driver_gender
M    25517
F    11686
Name: count, dtype: int64

From the count, we can notice that men were stopped over twice more than women.

In [14]:
# Q.3-3) getting searched in a stop, gender analysis
# filtering the dataset
searched = dataset[dataset['search_conducted'] == True]

# checking the searched by driver
searched['driver_gender'].value_counts()

driver_gender
M    2113
F     366
Name: count, dtype: int64

From the count, we can notice that men were searched over almost 6 times more than women.

In [17]:
# Q.3-4) analysis of stop duration: checking the data type
dataset['stop_duration'].unique()

array(['0-15 Min', '16-30 Min', '30+ Min', nan, '2'], dtype=object)

In [19]:
# Q.3-4) analysis of stop duration: converting to numeric by using middle-points
dataset['stop_duration_new'] = dataset['stop_duration'].map({'0-15 Min': 7.5, '16-30 Min': 24, '30+ Min': 45}) 
#notice that other values will be simply treated to "null"
dataset['stop_duration_new'].head()

0     7.5
1     7.5
2     7.5
3    24.0
4     7.5
Name: stop_duration_new, dtype: float64

In [21]:
# Q.3-4) analysis of stop duration: calculating the mean
dataset['stop_duration_new'].mean()

12.187420698181345

In [34]:
# Q.3-5) compare the age distributions for each violation.

age_violation = dataset.groupby('violation')['driver_age']
age_violation.describe()

,count,mean,std,min,25%,50%,75%,max
violation,,,,,,,,
Equipment,6507.0,31.682957,11.380671,16.0,23.0,28.0,39.0,81.0
Moving violation,11876.0,36.736443,13.258350,15.0,25.0,35.0,47.0,86.0
Other,3477.0,40.362381,12.754423,16.0,30.0,41.0,50.0,86.0
Registration/plates,2240.0,32.656696,11.150780,16.0,24.0,30.0,40.0,74.0
Seat belt,3.0,30.333333,10.214369,23.0,24.5,26.0,34.0,42.0
Speeding,37120.0,33.262581,12.615781,15.0,23.0,30.0,42.0,88.0

From the statiscal summary, we can see that most of the violations are greatly affected by big values like the age of 86. "speeding" and "equipment" seems to be the most affected ones as the means are the farest from the medians. "moving violation" is often done by the older people on the dataset, as 75% of the records is from ages bellow 47. For seatbelt we see a possible turn, where the younger people do more of these violations, but we only have 3 records which is not comparable to the others violations.