# Exercise 1.04
Student: DC427182

In [2]:
# 02: importing pandas with an alias
import pandas as pd

In [3]:
# 03: loading the dataset
dataset = pd.read_csv('C:/Users/User/Documents/GitHub/gradest-1/DATAVIS/tutorials/Tutorial03/Datasets/world_population.csv', index_col=0)

In [6]:
# 04: previewing the dataset by looking at the first rows
dataset.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,307.972222,312.366667,314.983333,316.827778,318.666667,320.622222,...,562.322222,563.011111,563.422222,564.427778,566.311111,568.850000,571.783333,574.672222,577.161111,NaN
Andorra,AND,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,30.587234,32.714894,34.914894,37.170213,39.470213,41.800000,...,180.591489,182.161702,181.859574,179.614894,175.161702,168.757447,161.493617,154.863830,149.942553,NaN
Afghanistan,AFG,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,14.038148,14.312061,14.599692,14.901579,15.218206,15.545203,...,39.637202,40.634655,41.674005,42.830327,44.127634,45.533197,46.997059,48.444546,49.821649,NaN
Angola,AGO,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,4.305195,4.384299,4.464433,4.544558,4.624228,4.703271,...,15.387749,15.915819,16.459536,17.020898,17.600302,18.196544,18.808215,19.433323,20.070565,NaN
Albania,ALB,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,60.576642,62.456898,64.329234,66.209307,68.058066,69.874927,...,108.394781,107.566204,106.843759,106.314635,106.013869,105.848431,105.717226,105.607810,105.444051,NaN

In [8]:
# 05: checking the data shape
dataset.shape

(264, 60)

In [10]:
# 06: calculating the mean of one specific column (1961)
dataset["1961"].mean()

176.91514132840555

In [12]:
# 07: calculating the mean of another column for comparison (2015)
dataset["2015"].mean()

368.70660104001837

In [14]:
# 08: calculating the mean for every single country
dataset.mean(axis=1,numeric_only=True).head(10)

Country Name
Aruba                   413.944949
Andorra                 106.838839
Afghanistan              25.373379
Angola                    9.649583
Albania                  99.159197
Arab World               16.118586
United Arab Emirates     31.321721
Argentina                11.634028
Armenia                 103.415539
American Samoa          211.855636
dtype: float64

In [16]:
# 09: calculating the mean for every column
dataset.mean(axis=0,numeric_only=True).tail(10)

2007    331.995474
2008    338.688417
2009    343.649206
2010    347.967029
2011    351.942027
2012    357.787305
2013    360.985726
2014    364.849194
2015    368.706601
2016           NaN
dtype: float64

In [18]:
# 10: calculating the mean of the whole dataset
dataset.mean(numeric_only=True)

# notice that for default axis=0, so the output is quite the same as the one in step 9 (except that there we only see the tail)

1960           NaN
1961    176.915141
1962    180.703231
1963    184.572413
1964    188.461797
1965    192.412363
1966    196.145042
1967    200.118063
1968    203.879464
1969    207.336102
1970    210.607871
1971    213.489694
1972    215.998475
1973    218.438708
1974    220.621210
1975    223.046375
1976    224.960258
1977    227.006734
1978    229.187306
1979    232.510772
1980    236.185357
1981    240.789508
1982    246.175178
1983    251.342389
1984    256.647822
1985    261.680751
1986    266.647038
1987    271.768300
1988    276.813259
1989    281.850054
1990    286.062387
1991    288.292566
1992    293.305416
1993    297.759160
1994    302.275463
1995    304.537276
1996    309.714948
1997    313.896935
1998    320.405981
1999    324.004669
2000    327.270760
2001    312.259570
2002    313.269043
2003    315.847613
2004    317.746559
2005    322.669534
2006    326.907971
2007    331.995474
2008    338.688417
2009    343.649206
2010    347.967029
2011    351.942027
2012    357.787305
2013    360.985726
2014    364.849194
2015    368.706601
2016           NaN
dtype: float64