# Exercise 1.05
Student: DC427182

In [3]:
# 02: importing pandas with an alias
import pandas as pd

In [5]:
# 03: loading the dataset
dataset = pd.read_csv('C:/Users/User/Documents/GitHub/gradest-1/DATAVIS/tutorials/Tutorial03/Datasets/world_population.csv', index_col=0)

In [7]:
# 04: checking the first 2 rows of the dataset
dataset[0:2]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,307.972222,312.366667,314.983333,316.827778,318.666667,320.622222,...,562.322222,563.011111,563.422222,564.427778,566.311111,568.850000,571.783333,574.672222,577.161111,NaN
Andorra,AND,Population density (people per sq. km of land ...,EN.POP.DNST,NaN,30.587234,32.714894,34.914894,37.170213,39.470213,41.800000,...,180.591489,182.161702,181.859574,179.614894,175.161702,168.757447,161.493617,154.863830,149.942553,NaN

In [15]:
# 05: calculating the mean of the third row

dataset.iloc[[2]].mean(axis=1, numeric_only=True)

# notice that we use iloc when we want to locate/slice by the index

Country Name
Afghanistan    25.373379
dtype: float64

In [17]:
# 06: calculating the mean of the last row
dataset.iloc[[-1]].mean(axis=1, numeric_only=True)

Country Name
Zimbabwe    24.520532
dtype: float64

In [21]:
# 07: calculating the mean for Germany
dataset.loc[["Germany"]].mean(axis=1, numeric_only=True)

#notice that we use loc when we want to locate/slice by the value

Country Name
Germany    227.773688
dtype: float64

In [23]:
# 08: calculating the median for the last row
dataset.iloc[[-1]].median(axis=1, numeric_only=True)

Country Name
Zimbabwe    25.505431
dtype: float64

In [25]:
# 09: calculating the median for the three last rows
dataset[-3:].median(axis=1, numeric_only=True)

Country Name
Congo, Dem. Rep.    14.419050
Zambia              10.352668
Zimbabwe            25.505431
dtype: float64

In [29]:
# 10: using head instead of index to calculate the median of the first 10 rows
dataset.head(10).median(axis=1, numeric_only=True)

Country Name
Aruba                   348.022222
Andorra                 107.300000
Afghanistan              19.998926
Angola                    8.458253
Albania                 106.001058
Arab World               15.307283
United Arab Emirates     19.305072
Argentina                11.618238
Armenia                 105.898033
American Samoa          220.245000
dtype: float64

In [37]:
# 11: calculating the variance and printing only the last 5 rows
dataset.var(numeric_only=True).tail()

# tail=5 by default

2012    3.063475e+06
2013    3.094597e+06
2014    3.157111e+06
2015    3.220634e+06
2016             NaN
dtype: float64

In [43]:
# 12: comparing usage of numpy and pandas for the calculation of the mean for 2015
import numpy as np
print("pandas", dataset["2015"].mean(numeric_only=True))
print("numpy", np.mean(dataset["2015"]))

pandas 368.70660104001837
numpy 368.70660104001837