# Activity 7.02

Student: DC427182

In [24]:
# 02: importing the necessary dependencies
import pandas as pd
import geoplotlib
import numpy as np
from geoplotlib.utils import DataAccessObject, BoundingBox, epoch_to_str
from geoplotlib.layers import BaseLayer
from geoplotlib.core import BatchPainter
from geoplotlib.colors import colorbrewer
import pyglet

In [2]:
# 03: loading the dataset
dataset = pd.read_csv('C:/Users/User/Documents/GitHub/gradest-1/DATAVIS/tutorials/Tutorial07/Datasets/world_cities_pop.csv', encoding='utf-8')
dataset.head()

C:\Users\User\AppData\Local\Temp\ipykernel_8452\1074976747.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('C:/Users/User/Documents/GitHub/gradest-1/DATAVIS/tutorials/Tutorial07/Datasets/world_cities_pop.csv', encoding='utf-8')

  Country        City  AccentCity Region  Population   Latitude  Longitude
0      ad       aixas       Aixàs    6.0         NaN  42.483333   1.466667
1      ad  aixirivali  Aixirivali    6.0         NaN  42.466667   1.500000
2      ad  aixirivall  Aixirivall    6.0         NaN  42.466667   1.500000
3      ad   aixirvall   Aixirvall    6.0         NaN  42.466667   1.500000
4      ad    aixovall    Aixovall    6.0         NaN  42.466667   1.483333

In [3]:
# 04:  map the Latitude and Longitude columns to lat and lon.
dataset['lat'] = dataset['Latitude']
dataset['lon'] = dataset['Longitude']
dataset.columns

Index(['Country', 'City', 'AccentCity', 'Region', 'Population', 'Latitude',
       'Longitude', 'lat', 'lon'],
      dtype='object')

In [4]:
# 05: Filter the dataset to only contain European cities by using the given europe_country_codes list.
europe_country_codes = ['al', 'ad', 'at', 'by', 'be', 'ba', 'bg', 'hr', 'cy', 'cz', 'dk', 'ee', 'fi', 'fr', 'de', 'gr', 'hu', 'is', 'ie', 'it', 'xk', 'lv', 'li', 'lt', 'lu', 'mk', 'mt', 'md', 'mc', 'me', 'nl', 'no', 'pl', 'pt', 'ro', 'ru', 'sm', 'rs', 'sk', 'si', 'es', 'se', 'ch', 'ua', 'gb', 'va']
filtered = dataset[dataset['Country'].str.lower().isin(europe_country_codes)]
filtered.head()

,Country,City,AccentCity,Region,Population,Latitude,Longitude,lat,lon
0,ad,aixas,Aixàs,6.0,NaN,42.483333,1.466667,42.483333,1.466667
1,ad,aixirivali,Aixirivali,6.0,NaN,42.466667,1.500000,42.466667,1.500000
2,ad,aixirivall,Aixirivall,6.0,NaN,42.466667,1.500000,42.466667,1.500000
3,ad,aixirvall,Aixirvall,6.0,NaN,42.466667,1.500000,42.466667,1.500000
4,ad,aixovall,Aixovall,6.0,NaN,42.466667,1.483333,42.466667,1.483333

In [5]:
# 06: Compare the length of all data with the filtered data of Europe by printing the length of both.
print('Full dataset length:', len(dataset))
print('Filtered (European) dataset length:', len(filtered))

Full dataset length: 3173958
Filtered (European) dataset length: 897803

In [6]:
# 07: Filter down the European dataset to get a dataset that only contains cities that start with the letter Z.
filtered['City'] = filtered['City'].astype(str)
filtered2 = filtered.loc[filtered['City'].str.startswith('z')]

C:\Users\User\AppData\Local\Temp\ipykernel_8452\969528175.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['City'] = filtered['City'].astype(str)

In [7]:
# 08: Print its length and the first five rows using the head method.
print('Filtered (European) dataset length:', len(filtered2))
filtered2.head()

Filtered (European) dataset length: 20738

,Country,City,AccentCity,Region,Population,Latitude,Longitude,lat,lon
104206,al,zaane,ZÄane,44.0,NaN,40.932778,19.783056,40.932778,19.783056
104207,al,zabarzani,Zabarzani,40.0,NaN,40.427778,20.269167,40.427778,20.269167
104208,al,zabarzan,Zabarzan,40.0,NaN,40.427778,20.269167,40.427778,20.269167
104209,al,zaberzane,Zabërzanë,40.0,NaN,40.427778,20.269167,40.427778,20.269167
104210,al,zaberzan i siperm,Zaberzan i Sipërm,40.0,NaN,40.427778,20.269167,40.427778,20.269167

In [8]:
# 09: Create a dot density plot with a tooltip that shows the country code and the name of the city separated by a -. 
# Use the DataAccessObject to create a copy of our dataset, which allows the use of f_tooltip. 

# create data access object
dao = DataAccessObject(filtered2)
dao

DataAccessObject(['Country', 'City', 'AccentCity', 'Region', 'Population', 'Latitude', 'Longitude', 'lat', 'lon'] x 20738)

In [28]:
# 09.2: create a dot plot
geoplotlib.dot(dao, f_tooltip=lambda d: d['Country'] + ' - ' + d['City'], point_size=1)
geoplotlib.show()

In [29]:
# 10: Create a Voronoi plot with the same dataset that only contains cities that start with Z. Use the 'Reds_r' color map and set the alpha value to 50 to make sure you still see the map tiles.
geoplotlib.voronoi(dao, cmap='Reds_r', alpha=50)
geoplotlib.tiles_provider('darkmatter')
geoplotlib.show()

In [30]:
# 12: Create a new BatchPainter() function and project the lon and lat values to x and y values. Use the BatchPainter function to paint the points on the map with a size of 2.
class MyLayer(BaseLayer):
    
        def __init__(self, data):
            self.data = data
    
        def invalidate(self, proj):
            self.painter = BatchPainter()
            x, y = proj.lonlat_to_screen(self.data['lon'], self.data['lat'])
            self.painter.points(x, y, 2)
    
        def draw(self, proj, mouse_x, mouse_y, ui_manager):
            self.painter.batch_draw()
    
        def bbox(self):
            return BoundingBox.from_points(lons=self.data['lon'], lats=self.data['lat'])

In [31]:
# 13: Call the batch_draw() method in the draw method and use the ui_manager to add an info dialog to the screen telling the user which starting letter is currently being used.
layer = MyLayer(filtered2)
geoplotlib.add_layer(layer)
geoplotlib.show()

In [32]:
# 14: Check which key is pressed using pyglet: pyglet.window.key.RIGHT. If the right or left key is pressed, increment or decrement the start_letter value of the FilterLayer class accordingly.
# (Use modulo to allow rotation, which should happen when A->Z or Z->A). Make sure that you return True in the on_key_release method if you changed the start_letter to trigger a redrawing of the points.

from pyglet.window import key

class FilterLayer(BaseLayer):
        
        def __init__(self, data):
            self.data = data
            self.start_letter = 0
        
        def invalidate(self, proj):
            self.painter = BatchPainter()
            x, y = proj.lonlat_to_screen(self.data['lon'], self.data['lat'])
            self.painter.points(x, y, 2)
        
        def draw(self, proj, mouse_x, mouse_y, ui_manager):
            self.painter.batch_draw()
            ui_manager.info('Starting letter: {}'.format(chr(ord('a') + self.start_letter)))
        
        def bbox(self):
            return BoundingBox.from_points(lons=self.data['lon'], lats=self.data['lat'])
        
        def on_key_release(self, key, modifiers):
            if key == pyglet.window.key.RIGHT:
                self.start_letter += 1
            elif key == pyglet.window.key.LEFT:
                self.start_letter -= 1
            self.start_letter = max(0, min(25, self.start_letter))
            return True

In [33]:
# 15: Add the custom layer using the add_layer method and provide the given europe_bbox as a BoundingBox class.
layer = FilterLayer(filtered2)
geoplotlib.add_layer(layer)
geoplotlib.set_bbox(BoundingBox.USA)
geoplotlib.show()