# Final Exam: Paper 1

Student: DC427182

In [5]:
import pandas as pd

## Question 1

In [6]:
# 01.01: Write Python coding to load the 3 datasets "concat_1.csv",  "concat_2.csv", and "concat_3.csv" into 3 Pandas dataframe objects
# 01.02: Use the print function to show, with 3 separate print statements, the data from the each of the 3 datasets "concat_1.csv",  "concat_2.csv", and "concat_3.csv".

def answer_FinalExam_Paper01_Question_01():
    # 01.01
    concat1 = pd.read_csv('data/concat_1.csv')
    concat2 = pd.read_csv('data/concat_2.csv')
    concat3 = pd.read_csv('data/concat_3.csv')
    # 01.02
    print('concat 1 \n', concat1)
    print('concat 2 \n',concat2)
    print('concat 3 \n',concat3)

answer_FinalExam_Paper01_Question_01()

concat 1
     A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
concat 2
     A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
concat 3
      A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

## Question 2

In [8]:
# 02.01: Verify if you are working with a Pandas DataFrame, for each of the 3 datasets in Question 01, by using the built-in type function from Python.
# 02.02: Print out the result of your verification, using the 'print' function - Note you are dealing with 3 dataframe objects here.

def answer_FinalExam_Paper01_Question_02():
    concat1 = pd.read_csv('data/concat_1.csv')
    concat2 = pd.read_csv('data/concat_2.csv')
    concat3 = pd.read_csv('data/concat_3.csv')
    print('concat 1 is a DataFrame:', type(concat1) == pd.DataFrame)
    print('concat 2 is a DataFrame:', type(concat2) == pd.DataFrame)
    print('concat 3 is a DataFrame:', type(concat3) == pd.DataFrame)

answer_FinalExam_Paper01_Question_02()

concat 1 is a DataFrame: True
concat 2 is a DataFrame: True
concat 3 is a DataFrame: True

## Question 3

In [9]:
#03.01: Find out the number of rows and columns of each of the 3 dataframes loaded respectively with the datasets "concat_1.csv",  "concat_2.csv", and "concat_3.csv".
#03.02: Print out the result, i.e., the number of rows and columns of each of the 3 dataframes, using the 'print' function.

def answer_FinalExam_Paper01_Question_03():
    concat1 = pd.read_csv('data/concat_1.csv')
    concat2 = pd.read_csv('data/concat_2.csv')
    concat3 = pd.read_csv('data/concat_3.csv')
    print('concat 1 has', concat1.shape[0], 'rows and', concat1.shape[1], 'columns')
    print('concat 2 has', concat2.shape[0], 'rows and', concat2.shape[1], 'columns')
    print('concat 3 has', concat3.shape[0], 'rows and', concat3.shape[1], 'columns')

answer_FinalExam_Paper01_Question_03()

concat 1 has 4 rows and 4 columns
concat 2 has 4 rows and 4 columns
concat 3 has 4 rows and 4 columns

## Question 4

In [10]:
#04.01: Get the column names of each of the 3 dataframes in Question 03.
#04.02: Print out the result, i.e., the column names of each of the 3 dataframes, using the 'print' function.

def answer_FinalExam_Paper01_Question_04():
    concat1 = pd.read_csv('data/concat_1.csv')
    concat2 = pd.read_csv('data/concat_2.csv')
    concat3 = pd.read_csv('data/concat_3.csv')
    print('concat 1 columns:', concat1.columns)
    print('concat 2 columns:', concat2.columns)
    print('concat 3 columns:', concat3.columns)

answer_FinalExam_Paper01_Question_04()

concat 1 columns: Index(['A', 'B', 'C', 'D'], dtype='object')
concat 2 columns: Index(['A', 'B', 'C', 'D'], dtype='object')
concat 3 columns: Index(['A', 'B', 'C', 'D'], dtype='object')

## Question 5

In [11]:
#05.01: Concatenate the three dataframes in Question 04 as if you are adding rows, by using the 'concat' function from Pandas.
#05.02: Print out the result, i.e., the dataframe after concatenating the 3 separate dataframes in 05.01, using the 'print' function.
#05.03: Subset the concatenated dataframe by reading the row(s) indexed by loc[0]. Print out the result, using the 'print' function.
#05.04: Subset the concatenated dataframe by reading the row(s) indexed by iloc[0]. Print out the result, using the 'print' function.

def answer_FinalExam_Paper01_Question_05():
    concat1 = pd.read_csv('data/concat_1.csv')
    concat2 = pd.read_csv('data/concat_2.csv')
    concat3 = pd.read_csv('data/concat_3.csv')
    # 05.01
    concat = pd.concat([concat1, concat2, concat3])
    # 05.02
    print('concatenated dataframes \n', concat)
    # 05.03 / 05.04
    print('subset by loc[0] \n', concat.loc[0])

answer_FinalExam_Paper01_Question_05()

concatenated dataframes
      A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11
subset by loc[0]
     A   B   C   D
0  a0  b0  c0  d0
0  a4  b4  c4  d4
0  a8  b8  c8  d8

## Question 6

In [12]:
#06.01: Concatenate the three dataframes in Question 04 as if you are adding columns, by using the 'concat' function from Pandas. 
#06.02: Print out the result, i.e., the dataframe after concatenating the 3 separate dataframes in 06.01, using the 'print' function.
#06.03: Add a new column to the dataframe from 06.02, comprising the items  ['n1', 'n2', 'n3', 'n4']. Print out the result using the 'print' function.
#06.04: Subset the concatenated dataframe by reading the column named as ['A']. Print out the result using the 'print' function.

def answer_FinalExam_Paper01_Question_06():
    concat1 = pd.read_csv('data/concat_1.csv')
    concat2 = pd.read_csv('data/concat_2.csv')
    concat3 = pd.read_csv('data/concat_3.csv')
    # 06.01
    concat = pd.concat([concat1, concat2, concat3], axis=1)
    # 06.02
    print('concatenated dataframes \n', concat)
    # 06.03
    concat['new_column'] = ['n1', 'n2', 'n3', 'n4']
    print('new column \n', concat)
    # 06.04
    print('subset by column name \n', concat['A'])

answer_FinalExam_Paper01_Question_06()

concatenated dataframes
     A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11
new column
     A   B   C   D   A   B   C   D    A    B    C    D new_column
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8         n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9         n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10         n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11         n4
subset by column name
     A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

## Question 7

In [14]:
#07.01: Create a new row of data comprising ['n1', 'n2', 'n3', 'n4'] in the form of a series. Print the series, using the 'print' function.
#07.02: Add, by using the 'concat' function from Pandas, this new row of data to a dataframe, say, formed by reading the dataset "concat_1.csv". Print the resulting dataframe, using the 'print' function.
#07.03: Create a new row of data comprising ['n1', 'n2', 'n3', 'n4'] in the form of a dataframe. Print the dataframe using the 'print' function
#07.04: Add, by using the 'concat' function from Pandas, this new row of data to a dataframe, say, formed by reading the dataset "concat_1.csv". Print the resulting dataframe, using the 'print' function.

def answer_FinalExam_Paper01_Question_07():
    concat1 = pd.read_csv('data/concat_1.csv')
    concat2 = pd.read_csv('data/concat_2.csv')
    concat3 = pd.read_csv('data/concat_3.csv')
    # 07.01
    new_row_series = pd.Series(['n1', 'n2', 'n3', 'n4'])
    print('new row series \n', new_row_series)
    # 07.02
    new_row_series_df = pd.DataFrame([new_row_series], columns=concat1.columns)
    concat1_new = pd.concat([concat1, new_row_series_df])
    print('concat 1 with new row \n', concat1)
    # 07.03
    new_row_df = pd.DataFrame([['n1', 'n2', 'n3', 'n4']], columns=concat1.columns)
    print('new row df \n', new_row_df)
    # 07.04
    concat1_new = pd.concat([concat1, new_row_df])
    print('concat 1 with new row \n', concat1)

answer_FinalExam_Paper01_Question_07()

new row series
 0    n1
1    n2
2    n3
3    n4
dtype: object
concat 1 with new row
     A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
new row df
     A   B   C   D
0  n1  n2  n3  n4
concat 1 with new row
     A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

## Question 8

In [15]:
#08.01: Name the three dataframe objects populated respectively with the 3 datasets from Question 01, as df1, df2, and df3, and assign them with the columns as indicated in the coding hints.
#08.02: Print each of the three dataframes (df1, df2, df3), using 3 separate 'print' statements in Python.
#08.03: Concatenate the three dataframes, using the 'concat' function from Pandas. Print the result using the 'print' function.
#08.04: Concatenate the two dataframes (df1, df3) using the 'concat' function, keeping only the columns that are shared among the two datasets. Print the result using the 'print' function.

def answer_FinalExam_Paper01_Question_08():
    # 08.01
    df1 = pd.read_csv('data/concat_1.csv')
    df2 = pd.read_csv('data/concat_2.csv')
    df3 = pd.read_csv('data/concat_3.csv')
    # new columns names
    df1.columns = ['A', 'B', 'C', 'D']
    df2.columns = ['E', 'F', 'G', 'H']
    df3.columns = ['A', 'C', 'F', 'H']
    # 08.02
    print('df1 \n', df1)
    print('df2 \n', df2)
    print('df3 \n', df3)
    # 08.03
    concat = pd.concat([df1, df2, df3])
    print('concatenated dataframes \n', concat)
    # 08.04
    concat1_3 = pd.concat([df1, df3], join='inner')
    print('concatenated df1 and df3 \n', concat1_3)

answer_FinalExam_Paper01_Question_08()

df1
     A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
df2
     E   F   G   H
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
df3
      A    C    F    H
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11
concatenated dataframes
      A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   a4   b4   c4   d4
1  NaN  NaN  NaN  NaN   a5   b5   c5   d5
2  NaN  NaN  NaN  NaN   a6   b6   c6   d6
3  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
1   a9  NaN   b9  NaN  NaN   c9  NaN   d9
2  a10  NaN  b10  NaN  NaN  c10  NaN  d10
3  a11  NaN  b11  NaN  NaN  c11  NaN  d11
concatenated df1 and df3
      A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
0   a8   b8
1   a9   b9
2  a10  b10
3  a11  b11

## Question 9

In [16]:
#09.01: Name the three dataframe objects populated respectively with the 3 datasets from Question 01, as df1, df2, and df3, and assign them with the row indices as indicated in the coding hints.
#09.02: Print each of the three dataframes (df1, df2, df3), using 3 separate 'print' statements in Python.
#09.03: Concatenate the three dataframes, using the 'concat' function from Pandas, setting the axis = 1. Print the result using the 'print' function.
#09.04: Concatenate the three dataframes, using the 'concat' function from Pandas, setting the axis = 0. Print the result using the 'print' function.
#09.05: Concatenate the two dataframes (df1, df3) using the 'concat' function, keeping only the rows that are shared among the two datasets. Print the result using the 'print' function.

def answer_FinalExam_Paper01_Question_09():
    # 09.01
    df1 = pd.read_csv('data/concat_1.csv')
    df2 = pd.read_csv('data/concat_2.csv')
    df3 = pd.read_csv('data/concat_3.csv')
    # new index
    df1.index = [0, 1, 2, 3]
    df2.index = [4, 5, 6, 7]
    df3.index = [0, 2, 5, 7]
    # 09.02
    print('df1 \n', df1)
    print('df2 \n', df2)
    print('df3 \n', df3)
    # 09.03
    concat = pd.concat([df1, df2, df3], axis=1)
    print('concatenated dataframes \n', concat)
    # 09.04
    concat = pd.concat([df1, df2, df3])
    print('concatenated dataframes \n', concat)
    # 09.05
    concat1_3 = pd.concat([df1, df3], join='inner', axis=1)
    print('concatenated df1 and df3 \n', concat1_3)

answer_FinalExam_Paper01_Question_09()

df1
     A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
df2
     A   B   C   D
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7
df3
      A    B    C    D
0   a8   b8   c8   d8
2   a9   b9   c9   d9
5  a10  b10  c10  d10
7  a11  b11  c11  d11
concatenated dataframes
      A    B    C    D    A    B    C    D    A    B    C    D
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN   a8   b8   c8   d8
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN   a9   b9   c9   d9
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5  a10  b10  c10  d10
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7  a11  b11  c11  d11
concatenated dataframes
      A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
4   a4   b4   c4   d4
5   a5   b5   c5   d5
6   a6   b6   c6   d6
7   a7   b7   c7   d7
0   a8   b8   c8   d8
2   a9   b9   c9   d9
5  a10  b10  c10  d10
7  a11  b11  c11  d11
concatenated df1 and df3
     A   B   C   D   A   B   C   D
0  a0  b0  c0  d0  a8  b8  c8  d8
2  a2  b2  c2  d2  a9  b9  c9  d9