# Exercise 7.01

Student: DC427182

In [9]:
# 02: importing libraries
import geoplotlib
from geoplotlib.utils import read_csv
import pandas as pd
import numpy as np

In [10]:
# correcting deprecations (numpy.int was deprecated in NumPy 1.20 and was removed in NumPy 1.24)
np.int = np.int32
np.float = np.float64
np.bool = np.bool_

In [11]:
# 03: using geoplotlib to read the csv file
dataset = read_csv('C:/Users/User/Documents/GitHub/gradest-1/DATAVIS/tutorials/Tutorial07/Datasets/poaching_points_cleaned.csv')

In [12]:
# 04: checking the dataset structure
dataset

DataAccessObject(['id_report', 'date_report', 'description', 'created_date', 'lat', 'lon'] x 268)

In [13]:
# 05: reading the data with pandas
pd_dataset=pd.read_csv('C:/Users/User/Documents/GitHub/gradest-1/DATAVIS/tutorials/Tutorial07/Datasets/poaching_points_cleaned.csv')
pd_dataset.head()

,id_report,date_report,description,created_date,lat,lon
0,138,01/01/2005 12:00:00 AM,Poaching incident,2005/01/01 12:00:00 AM,-7.049359,34.841440
1,4,01/20/2005 12:00:00 AM,Poaching incident,2005/01/20 12:00:00 AM,-7.650840,34.480010
2,43,01/20/2005 12:00:00 AM,Poaching incident,2005/02/20 12:00:00 AM,-7.843202,34.005704
3,98,01/20/2005 12:00:00 AM,Poaching incident,2005/02/21 12:00:00 AM,-7.745846,33.948526
4,141,01/20/2005 12:00:00 AM,Poaching incident,2005/02/22 12:00:00 AM,-7.876673,33.690167

In [18]:
# 06: plotting our dataset with points
geoplotlib.dot(dataset)
geoplotlib.show()

In [19]:
# 07: plotting our dataset as a histogram
geoplotlib.hist(dataset, binsize=20)
geoplotlib.show()

In [20]:
# 08: plotting a voronoi map
geoplotlib.voronoi(dataset, cmap='Blues_r', \
                   max_area=1e5, alpha=255)
geoplotlib.show()